importFrom("R.methodsS3", "setMethodS3")
importFrom("R.oo", "setConstructorS3", "extend", "Object")
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "abline", "arrows", "axTicks", "lines", "par", "plot", "points", "text")
importFrom("utils", "sessionInfo")
exportPattern("^[^\\.]")

S3method(addHeader, RTF)
S3method(addNewLine, RTF)
S3method(addPageBreak, RTF)
S3method(addParagraph, RTF)
S3method(addPlot, RTF)
S3method(addPng, RTF)
S3method(addSessionInfo, RTF)
S3method(addTOC, RTF)
S3method(addTable, RTF)
S3method(addText, RTF)
S3method(addTrellisObject, RTF)
S3method(decreaseIndent, RTF)
S3method(done, RTF)
S3method(endParagraph, RTF)
S3method(increaseIndent, RTF)
S3method(setFontSize, RTF)
S3method(startParagraph, RTF)
S3method(view, RTF)
